.biography__collaborators-container {
  padding: 30px;
}

.biography__collaborators-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.biography__collaborators {
  padding: 10px;
  margin: 30px 0;
}

.biography__collaborators-image-container {
  border-radius: 20px;
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 20px auto 30px;
  overflow: hidden;
}

.collaborator_img {
  width: 100%;
}

.collaborator3 .collaborator_img {
  width: 192%;
  margin: -4px -29%;
}

.collaborator4 .collaborator_img {
  width: 152%;
  margin: -4px -40%;
}

.collaborator5 .collaborator_img {
  width: 100%;
  margin: -48px 0;
}

.collaborator7 .collaborator_img {
  width: 164%;
  margin: -18px -30%;
}

.collaborator7 .iconos {
  margin-left: 0px;
}

.collaborator8 .collaborator_img {
  width: 132%;
  margin: -2px -32%;
}

.collaborator10 .collaborator_img {
  width: 96%;
  margin: -26px 3%;
}

.collaborator11 .collaborator_img {
  margin: -29px 0%;
}

.collaborator11 .biography__collaborators-title {
  margin: 20px auto 20px;
}

.collaborator12 .collaborator_img {
  width: 121%;
  margin: -49px -14%;
}

.collaborator12 .iconos {
  margin-left: 0px;
}

.collaborator13 .collaborator_img {
  width: 140%;
  margin: -28px -40%;
}

.collaborator13 .iconos {
  margin-left: 0px;
}

.biography__collaborators-text-container {
  text-align: center;
  padding: 0 50px;
}

.biography__collaborators-title {
  border-bottom: 1px solid black;
  margin: 20px auto 10px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 22px;
  max-width: 200px;
}

.biography__collaborators-text {
  padding-top: 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  color: #212121;
}

.biography__collaborators-social-networks-list {
  margin: 25px 20px 20px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.biography__organizers-container {
  padding: 30px;
}

.biography__organizers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cristina_organizer .biography__organizers-social-networks-list {
  grid-column: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  margin: 0;
  padding: 13px 13px 10px;
}

.cristina_organizer .biography__organizers-image-container {
  grid-column: 6/7;
  grid-row: 1/2;
  margin: 25px 20px 0 !important;
}

.biography__organizers {
  padding: 10px;
  margin: 30px 0;
}

.biography__organizers-image-container {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 20px auto 30px;
  overflow: hidden;
}

.organizer_img {
  width: 100%;
}

.adrian_organizer .organizer_img {
  width: 157%;
  margin: -19px -24%;
}

.cristina_organizer .organizer_img {
  width: 184%;
  margin: -5px -47%;
}

.biography__organizers-text-container {
  text-align: center;
  padding: 0 50px;
}

.biography__organizers-title {
  border-bottom: 1px solid black;
  margin: 20px auto 10px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
}

.biography__organizers-text {
  padding-top: 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  color: #212121;
}

.biography__organizers-social-networks-list {
  margin: 25px 20px 20px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.iconos {
  font-family: "Font Awesome 5 Brands";
  font-size: 20px;
  color: #303ba3;
  padding: 8px;
  margin-left: 20px;
}

.iconos:hover {
  color: orange;
  background-color: #303ba3;
  border-radius: 100%;
}

.linkedin {
  margin-left: 0;
}

.linkedin:hover {
  padding: 8px 9.2px;
}

.videos__section {
  margin: 0;
  padding: 20px 0 40px;
}

.videos__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.videos__session {
  margin: 40px auto 0;
  padding: 0;
  text-align: center;
}

.video__title {
  border-top: 1px solid black;
  margin: 20px auto 10px;
  padding-top: 7px;
  font-weight: 500;
  font-size: 15px;
  max-width: 304px;
  text-align: left;
}

.link__video-documentation {
  text-decoration: none;
  color: #6c6c6c;
  text-align: left;
  margin-left: -69px;
  font-size: 15px;
}

.header {
  width: 100vw;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-shadow: 0 7px 15px 0 #008c4c15;
  box-shadow: 0 7px 15px 0 #008c4c15;
}

.header-nav {
  position: fixed;
  right: -170px;
  top: 0;
  width: 170px;
  height: 40vh;
  background-color: rgba(48, 59, 163, 0.9);
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  color: white;
}

.header-nav.active {
  right: 0;
}

.link-logo__index {
  margin-left: -5px;
  padding-top: 2px;
  width: 30%;
}

.logo__the_rider_sessions {
  width: 45%;
  cursor: pointer;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: 190px;
  cursor: pointer;
  color: #303ba3;
  border: 2px solid rgba(48, 59, 163, 0.9);
  border-radius: 100%;
}

.hamburger-menu {
  display: block;
  width: 15px;
  text-align: center;
  font-size: 17px;
  padding: 2px 6px 3px;
}

.hamburger-menu:hover {
  color: orange;
}

.header-nav-ul {
  font-size: 12px;
}

.header-nav-li {
  list-style: none;
  color: orange;
  text-align: center;
  padding: 50px 10px;
}

.header-nav-li:last-child {
  margin-right: 0;
  border-right: none;
}

.header-nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0 20px;
}

.hero_section {
  margin: 0;
  padding: 0;
}

.hero__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px 20px;
}

.hero__title {
  font-family: "Volkhov", serif;
  color: #303ba3;
  font-size: 28px;
  line-height: 38px;
  max-width: 188px;
  margin: 0 auto;
  text-align: center;
}

.about__section {
  margin: 20px 0;
  padding: 0 40px;
}

.about__section .central-container {
  border-top: 2px solid black;
}

.about__container {
  padding: 0 0 10px;
}

.about__title {
  margin: 20px 0 30px;
  font-weight: 500;
  font-size: 16px;
}

.about__text {
  font-weight: 400;
  line-height: 22px;
  font-size: 13px;
  text-align: left;
  color: #212121;
}

.counter__section {
  margin: 0px 0;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.308);
  height: 1px;
  color: white;
}

.counter__text {
  padding: 18px 0;
}

.footer {
  margin: 20px 0 20px;
  padding: 0 40px;
  text-align: center;
}

.footer__container {
  padding: 10px 20px;
}

.footer-nav-ul {
  list-style: none;
  font-size: 12px;
}

.footer-nav-li {
  margin-bottom: 6px;
}

.footer-nav-link {
  text-decoration: none;
  color: #6c6c6c;
}

.footer-logo__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

.footer .logo__the_rider_sessions {
  width: 40%;
  text-align: center;
}

.footer-copy {
  font-size: 10px;
  line-height: 15px;
  color: #252525;
}

* {
 /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.central-container {
  margin: 0 15px;
}

.main,.main__biography,.main_form {
  padding: 20px 0;
}

.main__biography {
  margin-top: -40px;
}

.contact__container {
  padding: 0 40px;
}

.contact__title {
  margin: 20px 0 30px;
  font-weight: 500;
  font-size: 20px;
}

.contact__text {
  font-weight: 400;
  line-height: 23px;
  font-size: 17px;
  text-align: left;
  color: #212121;
  margin: 20px 0;
}

.contact__form-container {
  margin: 20px auto;
  padding: 0px 40px 20px;
}

.contact__name,.contact__mailtelf-mail,.contact__mailtelf-telf,.contact__mensaje,.contact__button-container {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

label {
  padding-bottom: 5px;
}

input {
  height: 20px;
}

.contact__button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin: 0 auto;
}

@media all and (min-width: 380px) {
  .toggle-btn {
    top: 17px;
    right: 210px;
  }
}

@media all and (min-width: 480px) {
  .hero__title {
    font-size: 37px;
    line-height: 48px;
    max-width: 300px;
  }
}

@media all and (min-width: 500px) {
  .header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media all and (min-width: 600px) {
  .logo__the_rider_sessions {
    width: 30%;
  }

  .link-logo__index {
    margin-left: -40px;
  }
}

@media all and (min-width: 767px) {
  .biography__collaborators-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }

  .biography__organizers-container {
    padding: 0px;
    margin: 0;
  }

  .biography__organizers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }

  .ade_organizer .biography__organizers-image-container,.adrian_organizer .biography__organizers-image-container {
    margin: 50px 20px 0;
  }

  .ade_organizer .organizer_img,.adrian_organizer .organizer_img {
    grid-column: 1/3;
  }

  .ade_organizer .biography__organizers-text-container,.adrian_organizer .biography__organizers-text-container {
    grid-column: 2/7;
    padding: 0 22px 0 18px;
    text-align: justify;
  }

  .ade_organizer .biography__organizers-social-networks-list,.adrian_organizer .biography__organizers-social-networks-list {
    grid-column: 2/7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 13px 13px 10px;
  }

  .ade_organizer .iconos,.adrian_organizer .iconos {
    padding: 8px;
  }

  .mar_organizer .biography__organizers-image-container,.cristina_organizer .biography__organizers-image-container {
    grid-column: 6/7;
    grid-row: 1/2;
    margin: 50px 20px 0;
  }

  .mar_organizer .organizer_img,.cristina_organizer .organizer_img {
    grid-column: 5/7;
    grid-row: 1/3;
  }

  .mar_organizer .biography__organizers-text-container,.cristina_organizer .biography__organizers-text-container {
    padding: 0 18px 0 22px;
    margin: 0;
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: right;
  }

  .mar_organizer .biography__organizers-text,.cristina_organizer .biography__organizers-text {
    text-align: justify;
  }

  .mar_organizer .biography__organizers-social-networks-list,.cristina_organizer .biography__organizers-social-networks-list {
    grid-column: 5/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 13px 13px 10px;
  }

  .mar_organizer .iconos,.cristina_organizer .iconos {
    padding: 8px;
  }

  .biography__organizers-title {
    font-size: 20px;
  }

  .videos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }

  .video__title {
    font-size: 18px;
  }

  .session8 .video__title {
    font-size: 17px;
    letter-spacing: -1px;
  }

  .link__video-documentation {
    font-size: 18px;
    margin-left: -20px;
  }

  .header {
    width: 100vw;
  }

  .header-nav {
    position: static;
    width: 80vw;
    height: 8vh;
    background-color: rgba(48, 59, 163, 0);
    -webkit-transition: none;
    transition: none;
  }

  .link-logo__index {
    margin-left: 0px;
  }

  .logo__the_rider_sessions {
    width: 40%;
  }

  .toggle-btn,.hamburger-menu {
    display: none;
  }

  .header-nav__container {
    padding: 0 85px;
    width: 100vw;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-nav-ul {
    -webkit-transition: -webkit-transform ease 0.8s;
    transition: -webkit-transform ease 0.8s;
    transition: transform ease 0.8s;
    transition: transform ease 0.8s, -webkit-transform ease 0.8s;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }

  .header-nav-li {
    margin-bottom: 31px;
    padding: 25px 0 25px;
  }

  .header-nav-link {
    padding: 0 50px;
    color: rgba(48, 59, 163, 0.9);
    font-weight: 700;
  }

  .header-nav-li:first-child .header-nav-link {
    padding-left: 0;
  }

  .header-nav-li:last-child .header-nav-link {
    padding-right: 0;
  }

  .hero__title {
    font-size: 51px;
    line-height: 70px;
    max-width: 600px;
  }

  .about__title {
    font-size: 20px;
  }

  .about__text {
    line-height: 26px;
    font-size: 17px;
  }

  .footer-nav-ul {
    font-size: 16px;
  }

  .footer-nav-li {
    margin-bottom: 10px;
  }

  .footer-nav-li:last-child {
    margin-bottom: 0;
  }

  .footer .logo__the_rider_sessions {
    width: 15%;
    text-align: center;
  }

  .footer-copy {
    font-size: 13px;
    line-height: 18px;
  }
}

@media all and (min-width: 768px) {
  .central-container {
    margin: 0 45px;
  }

  .main {
    margin-top: 0;
    padding: 10px 0;
  }

  .main__biography {
    margin-top: -20px;
  }

  .main_form {
    margin-top: 20px;
  }
}

@media all and (min-width: 1200px) {
  .central-container {
    margin: 0 auto;
    width: 924px;
  }
}

/*# sourceMappingURL=main.css.map */
